<div id="<%= dom_id product %>" class="col-md-3">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Overall rating:</strong>
    <%= product.overall_rating %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= product.image_url %>
  </p>

  <%= link_to 'Add review', new_product_review_path(product), class: "btn btn-primary", "data-controller": "turbo"  %>

</div>
