<div id="<%= dom_id product %>" class="col-md-3">

  <p>
    <%= image_tag(product.image_url, class: "img-thumbnail") %>
  </p>

  <p>
    <%= product.name %>
  </p>

  <p>
    <%= product.description %>
  </p>

  <p>
    <% product.overall_rating.times do %>
      <i class="bi bi-star-fill"></i>
    <% end %>
    <% product.blank_stars.times do %>
      <i class="bi bi-star"></i>
    <% end %>
  </p>

  <%= link_to 'Add Review', new_product_review_path(product), class: "btn btn-primary", "data-controller": "turbo"  %>

</div>
