<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Overall rating:</strong>
    <%= product.overall_rating %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= product.image_url %>
  </p>

</div>
