<div id="<%= dom_id review %>">
  <p>
    <strong>Reviewer name:</strong>
    <%= review.reviewer_name %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= review.body %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= review.rating %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= review.product_id %>
  </p>

</div>
